venv/
.venv/
env/
.git/
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.db
*.sqlite
*.sqlite3
.vscode/
.idea/
postgres_data/
avatars_data/
uploads_data/
certbot_certs/
certbot_www/
uploads/
app/static/avatars/*
!app/static/avatars/.gitkeep
